@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap");

.sidenav {
  background: #567665;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
}

.logo {
  width: 60px;
}

header {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #011627;
  height: 60px;
  width: 100%;
  z-index: 1;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 10px 0;
}

ul li a {
  font-size: 16px;
  color: #eaecef;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li a:hover,
ul li a.active {
  background-color: #172b4d;
}

header svg {
  font-size: 40px;
  color: #eaecef;
}

header svg:hover {
  border: 1px solid;
  border-radius: 4px;
  background-color: #172b4d;
}

.main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.division {
  left: 20px;
  margin: 30px 50px;
  position: relative;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  border-radius: 10px;
}

.half {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  box-sizing: border-box;
  background-color: rgb(40, 44, 52);
  border: 2px solid rgb(211, 214, 222);
  border-radius: 10px;
}

.left {
  flex: 0 0 50%;
  box-sizing: border-box;
}

.right {
  flex: 0 0 50%;
  box-sizing: border-box;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 51%;
  transform: translateX(-50%);
}

.title {
  height: 40px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  align-items: center;
  background-color: #3a404d;
}

pre {
  width: 600px;
}

.title p {
  font-size: 14px;
}

.content {
  padding: 25px;
  height: 500px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  color: #eaecef;
  border: 1px solid;
  border-radius: 5px;
  background-color: #011627;
}

button:hover {
  background-color: #445c54;
}

.increment {
  padding: 10px 15px;
  font-size: 16px;
  color: #eaecef;
  border: 1px solid;
  border-radius: 5px;
  background-color: #067529;
}

.increment:hover {
  background-color: #1f8a3f;
}

.decrement {
  padding: 10px 15px;
  font-size: 16px;
  color: #eaecef;
  border: 1px solid;
  border-radius: 5px;
  background-color: #a30808;
}

.decrement:hover {
  background-color: #c01f1f;
}

@media screen and (max-width: 1200px) {
  .division {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .half {
    width: 100%;
  } */
  .title {
    width: 100%;
  }
  .bottom {
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
